#chat-screen {
  height: 200vh;
}
#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: rgba(255, 255, 255, 0.823);
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 7px;
}
.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 7px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}
.message__bubble {
  background-color: white;
  padding: 9px 11px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__time {
  opacity: 0.8;
  font-size: 12px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}
.reply .reply__column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.reply input {
  padding-left: 10px;
  height: 40px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.03);
}
/* 앞에 [+] 아이콘 */
.reply__column i {
  color: var(--dark-gray);
}
.reply__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
/* 스마일 아이콘 */
.reply__column:last-child > i {
  position: absolute;
  top: 8px;
  right: 55px;
  font-size: 28px;
  color: var(--dark-gray);
}
/* 위화살표 버튼 */
.reply__column:last-child button {
  position: absolute;
  top: 4px;
  right: 5px;
  background-color: var(--yellow);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.reply__column:last-child button i {
  font-size: 20px;
  color: var(--dark);
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
