.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
}
.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 15px 0px;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notificationv1 {
  position: absolute;
  left: 18px;
  bottom: 15px;
}
.nav__notificationv2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 32px;
  bottom: 28px;
}
