.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  opacity: 90%;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}
.screen-header__icons {
  display: flex;
  align-items: center;
}
/* 톱니바퀴 알림표시 만들기 성공..  */
.screen-header__icons span {
  margin-left: 20px;
  padding-top: 10px;
}
.screen-header__icons span:last-child {
  position: relative;
}
