.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  opacity: 90%;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 1000;
}
.screen-header__icons {
  display: flex;
  align-items: center;
}
.screen-header__icons span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
