.user-component {
  justify-content: space-between;
  padding-bottom: 15px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  /* 프로필사진 틀 형태가 맘에 안듬 */
  border-radius: 30px;
  margin-right: 17px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}
.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--gray);
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
